.product__cart {
	text-decoration: none;
	width: 240px;
	height: 60px;
	line-height: 60px;
	letter-spacing: 3px;
	color: #454647;
	font-family: 'MontserratRegular';
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #454647;
	transition: all 0.3s;
	&:hover {
		color: #fff;
		border-color: transparent;
		background-color: #454647;
	}
}
@media only screen and (max-width: 1279px) {
	.product__cart {
		width: 39.5%;
	}
}
@media only screen and (max-width: 599px) {
	.product__cart {
		font-size: 14px;
	}
}
@media only screen and (max-width: 479px) {
	.product__cart {
		letter-spacing: 0;
		font-size: 12px;
	}
}