doctype html
html(class="no-js", lang="ru")
	head
		include ../components/head/head.pug
	body
		//==================== Lookbook ====================
		include ../components/lookbook/lookbook.pug

		//==================== Sign Up ====================
		include ../components/signup/signup.pug

		//==================== Footer ====================
		include ../components/footer/footer.pug

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')