doctype html
html(class="no-js", lang="ru")
	head
		include ../components/head/head.pug
	body
		//==================== Header ==================== HEADER
		include ../components/header/header.pug

		//==================== Home ==================== 1 PAGE --- completed
		include ../components/home/home.pug

		//==================== The Brand ==================== 2 PAGE --- copleted
		include ../components/brand/brand.pug

		//==================== Local Stores ==================== 3 PAGE --- completed
		include ../components/localstores/localstores.pug

		//==================== Lookbook ==================== 4 PAGE --- completed
		include ../components/lookbook/lookbook.pug

		//==================== Product View ==================== 5 PAGE --- completed
		include ../components/product/product.pug

		//==================== Sign Up ==================== 6 PAGE --- completed
		include ../components/signup/signup.pug

		//==================== Footer ==================== FOOTER --- completed
		include ../components/footer/footer.pug

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')