doctype html
html(class="no-js", lang="ru")
	head
		include ../components/head/head.pug
	body
		//==================== Home ==================== 1 PAGE
		include ../components/home/home.pug

		//==================== The Brand ==================== 2 PAGE
		include ../components/brand/brand.pug

		//==================== Local Stores ==================== 3 PAGE
		include ../components/localstores/localstores.pug

		//==================== Lookbook ==================== 4 PAGE
		include ../components/lookbook/lookbook.pug

		//==================== Product View ==================== 5 PAGE
		include ../components/product/product.pug

		//==================== Sign Up ==================== 6 PAGE
		include ../components/signup/signup.pug

		//==================== Footer ====================
		include ../components/footer/footer.pug

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')