.social {
	width: 570px;
	height: 200px;
	background-color: #00c8c8;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 125px;
}
@media only screen and (max-width: 1279px) {
	.social {
		width: 48%;
	}
}
@media only screen and (max-width: 1023px) {
	.social {
		height: 140px;
		padding: 0;
	}
}
@media only screen and (max-width: 767px) {
	.social {
		justify-content: center;
		height: 100px;
	}
}
@media only screen and (max-width: 479px) {
	.social {
		width: 49.5%;
		height: 50px;
	}
}