.copyright__content {
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'MontserratRegular';
	font-weight: bold;
	font-size: 13px;
	color: #999999;
}
@media only screen and (max-width: 599px) {
	.copyright__content {
		flex-direction: column;
		justify-content: space-around;
	}
}
@media only screen and (max-width: 479px) {
	.copyright__content {
		font-size: 10px;
	}
}