.signin__link {
	display: inline-block;
	float: right;
	text-decoration: none;
	font-family: 'RobotoRegular';
	font-size: 15px;
	color: rgb(0, 200, 200);
	height: 63px;
	line-height: 63px;
	margin-top: 30px;
	&:hover {
		text-decoration: underline;
	}
}

@media only screen and (max-width: 1023PX) {
	.signin__link {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.signin__link {
		height: 40px;
		line-height: 40px;
	}
}
@media only screen and (max-width: 599px) {
	.signin__link {
		margin-top: 15px;
		height: 30px;
		line-height: 30px;
		font-size: 13px;
	}
}
@media only screen and (max-width: 479px) {
	.signin__link {
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
}
