// Common styles of the project

html, body {
    height: 100%;
}

.page {
    max-width: 1170px;
    margin: 0 auto;
}
@media only screen and (max-width: 1279px) {
	.page {
		padding: 0px 5px;
	}
}


* {
    box-sizing: border-box;
}