.footer__menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #727272;
	font-family: 'MontserratLight';
	font-size: 14px;
}

@media only screen and (max-width: 1023px) {
	.footer__menu {
		justify-content: center;
	}
}
@media only screen and (max-width: 479px) {
	.footer__menu {
		font-size: 12px;
	}
}