.home
	.hlist
		a(href='#').hlist__link Popular
		a(href='#').hlist__link new arrivals
		a(href='#').hlist__link best sellers
		a(href='#').hlist__link special offers
		a(href='#').hlist__link coming soon
	.hgallery
		.hgallery__column
			div(style='background-image: url("%=static=%img/assets/home/photo1.png")').hgallery__item
				.hgalleryitem__text
					sup £
					|89.99
				a(href='#').hgalleryitem__info
					i.fas.fa-info
				.hgalleryitem__bottom
					.hgalleryitem__title Womens burnt orange casual tee  £29.95
					.hgalleryitem__description
						|Classic casual t-shirt for women on the move. 
						br
						span 100% cotton.
					.hgalleryitem__links
						a(href='#').hgalleryitem__link
							i.fas.fa-shopping-cart
						a(href='#').hgalleryitem__link
							i.far.fa-heart
						a(href='#').hgalleryitem__link

			div(style='background-image: url("%=static=%img/assets/home/photo2.png")').hgallery__item
				.hgalleryitem__text 
					sup £
					|47.50
				a(href='#').hgalleryitem__info
					i.fas.fa-info
				.hgalleryitem__bottom
					.hgalleryitem__title Womens burnt orange casual tee  £29.95
					.hgalleryitem__description
						|Classic casual t-shirt for women on the move. 
						br
						span 100% cotton.
					.hgalleryitem__links
						a(href='#').hgalleryitem__link
							i.fas.fa-shopping-cart
						a(href='#').hgalleryitem__link
							i.far.fa-heart
						a(href='#').hgalleryitem__link
			div(style='background-image: url("%=static=%img/assets/home/photo3.png")').hgallery__item.hgallery__item--width
				.hgalleryitem__text 
					sup £
					|69.95 
				a(href='#').hgalleryitem__info
					i.fas.fa-info
				.hgalleryitem__bottom
					.hgalleryitem__title Womens burnt orange casual tee  £29.95
					.hgalleryitem__description
						|Classic casual t-shirt for women on the move. 
						br
						span 100% cotton.
					.hgalleryitem__links
						a(href='#').hgalleryitem__link
							i.fas.fa-shopping-cart
						a(href='#').hgalleryitem__link
							i.far.fa-heart
						a(href='#').hgalleryitem__link
		.hgallery__column
			div(style='background-image: url("%=static=%img/assets/home/photo4.png")').hgallery__item.hgallery__item--width
				.hgalleryitem__text 
					sup £
					del 107
					|&nbsp;&nbsp;
					sup £
					|89.99 
				a(href='#').hgalleryitem__info
					i.fas.fa-info
				.hgalleryitem__bottom
					.hgalleryitem__title Womens burnt orange casual tee  £29.95
					.hgalleryitem__description
						|Classic casual t-shirt for women on the move. 
						br
						span 100% cotton.
					.hgalleryitem__links
						a(href='#').hgalleryitem__link
							i.fas.fa-shopping-cart
						a(href='#').hgalleryitem__link
							i.far.fa-heart
						a(href='#').hgalleryitem__link
			div(style='background-image: url("%=static=%img/assets/home/photo5.png")').hgallery__item
				.hgalleryitem__text 
					sup £
					|29.95 
				a(href='#').hgalleryitem__info
					i.fas.fa-info
				.hgalleryitem__bottom
					.hgalleryitem__title Womens burnt orange casual tee  £29.95
					.hgalleryitem__description
						|Classic casual t-shirt for women on the move. 
						br
						span 100% cotton.
					.hgalleryitem__links
						a(href='#').hgalleryitem__link
							i.fas.fa-shopping-cart
						a(href='#').hgalleryitem__link
							i.far.fa-heart
						a(href='#').hgalleryitem__link
			div(style='background-image: url("%=static=%img/assets/home/photo6.png")').hgallery__item
				.hgalleryitem__text 
					sup £
					|34.79 
				a(href='#').hgalleryitem__info
					i.fas.fa-info
				.hgalleryitem__bottom
					.hgalleryitem__title Womens burnt orange casual tee  £29.95
					.hgalleryitem__description
						|Classic casual t-shirt for women on the move. 
						br
						span 100% cotton.
					.hgalleryitem__links
						a(href='#').hgalleryitem__link
							i.fas.fa-shopping-cart
						a(href='#').hgalleryitem__link
							i.far.fa-heart
						a(href='#').hgalleryitem__link

.view
	div(style='background-image: url("%=static=%img/assets/lookbook/view1.png")').view__item
		.view__title
			span men’s
			br
			|lookbook
		.view__text 
			|Lorem ipsum dolor sit amet eras facilisis consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.
			br
			|Elementum metus facilisis ut phasellu.
		a(href='#').view__link view now
	div(style='background-image: url("%=static=%img/assets/lookbook/view2.png")').view__item
		.view__title
			span women's
			br
			|lookbook
		.view__text 
			|Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
			br
			|Pellentesque laoreet quis enim et mattis. Quisque interdum felis tellus.
		a(href='#').view__link view now
	div(style='background-image: url("%=static=%img/assets/lookbook/view3.png")').view__item
		.view__title
			span men’s
			br
			|lookbook
		.view__text 
			|See an item you like and click the 
			i.far.fa-heart
			|&nbsp;button to add it to your lookbook where you can create your own perfect look.
			br
			|It’s like your own boutique!
		a(href='#').view__link view now