.register__text {
	width: 225px;
	height: 63px;
	float: right;
	margin-top: 30px;
	display: table;
	font-family: 'RobotoRegular';
	font-size: 15px;
	color: #8e8c8c;
	line-height: 1.4;
	div {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
}
@media only screen and (max-width: 1023PX) {
	.register__text {
		margin-top: 20px;
		height: 40px;
	}
}
@media only screen and (max-width: 1023PX) {
	.register__text {
		margin-top: 15px;
		height: 30px;
		font-size: 13px;
		line-height: 1;
	}
}
@media only screen and (max-width: 479px) {
	.register__text {
		width: 100%;
		margin-top: 10px;
		div {
			text-align: center;
		}
	}
}