.intro__button {
	position: absolute;
	bottom: 125px;
	right: 320px;
	width: 340px;
	height: 60px;
	line-height: 60px;
	font-family: 'MontserratRegular';
	font-size: 16px;
	font-weight: bold;
	border: 2px solid rgb(115, 115, 115);
	color: #454647;
	text-transform: uppercase;
	text-align: center;
	transition: all 0.3s;
	&:hover {
		color: #fff;
		background-color: #00c8c8;
	}
}