footer.footer
	.page
		.footer__menu
			.column
				.column__title information
				a(href='#').column__link The brand
				a(href='#').column__link Local stores
				a(href='#').column__link Customer service
				a(href='#').column__link Privacy & cookies
				a(href='#').column__link Site map
			.column
				.column__title why buy from us
				a(href='#').column__link Shipping & returns
				a(href='#').column__link Secure shopping
				a(href='#').column__link Testimonials
				a(href='#').column__link Award winning
				a(href='#').column__link Ethical trading
			.column
				.column__title your account
				a(href='#').column__link Sign in
				a(href='#').column__link Register
				a(href='#').column__link View cart
				a(href='#').column__link View your lookbook
				a(href='#').column__link Track an order
				a(href='#').column__link Update information
			.column
				.column__title lookbook
				a(href='#').column__link Latest posts
				a(href='#').column__link Men’s lookbook
				a(href='#').column__link Women’s lookbook
				a(href='#').column__link Lookbooks RSS feed
				a(href='#').column__link View your lookbook
				a(href='#').column__link Delete your lookbook
			.column
				.column__title.column__title--last contact details
				.address
					|Head Office: Avenue Fashion, 
					br
					|180-182 Regent Street, London.
				.phone
					|Telephone: 
					br
					|0123-456-789
				.email
					|Email: 
					a(href='https://yourwebsite.com/').email__link support@yourwebsite.com
	.page
		.footer__banners
			.award
				.award__title award winner
				.award__text fashion awards 2016
			.social
				a(href='https://www.facebook.com/').social__link
					i.fab.fa-facebook-f
				a(href='https://twitter.com/?lang=ru').social__link
					i.fab.fa-twitter
				a(href='https://www.instagram.com/?hl=ru').social__link
					i.fab.fa-instagram
				a(href='https://www.pinterest.com/').social__link
					i.fab.fa-pinterest
	.copyright
		.copyright__content.page
			.copyright__title © 2016 Avenue Fashion™
			.author 
				.author__design Design by RobbyDesigns.com
				.author__dev Dev by Loremipsum.com