.product__tags {
	color: #575153;
	font-family: 'RobotoRegular';
	font-size: 13px;
	font-weight: bold;
	margin-top: 10px;
	span {
		font-family: 'MontserratRegular';
		font-size: 15px;
		color: #00c8c8
	}
}