.product__column {
	width: 570px;
	height: 710px;
	display: flex;
	flex-direction: column;
}
@media only screen and (max-width: 1279px) {
	.product__column {
		width: 100%;
		height: 670px;
	}
}
@media only screen and (max-width: 1023px) {
	.product__column {
		width: 100%;
		height: auto;
	}
}