.somelookbook__title {
	font-family: 'MontserratLight';
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	color: #575153;
	margin-top: 50px;
	span {
		font-family: 'MontserratBold';
	}
}