.brand__column {
	display: flex;
	flex-direction: column;
}
@media only screen and (max-width: 1279px) {
	.brand__column {
		width: 49.5%;
	}
}
@media only screen and (max-width: 1023px) {
	.brand__column {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}