.register__link {
	display: inline-block;
	text-decoration: none;
	font-family: 'RobotoRegular';
	font-size: 15px;
	color: rgb(0, 200, 200);
	&:hover {
		text-decoration: underline;
	}
}
@media only screen and (max-width: 599px) {
	.register__link {
		font-size: 13px;
	}
}