.localstores
	.locations
		.location
			.location__title london
			.location__address 180-182 Regent Street, London, W1B 5BT
			.location__text
				|Lorem ipsum dolor sit amet, consectetur adipiscing esi elit. 
				|Vivamus at arcu sem. Vestibulum ornare eleifendit massa, nec tempor odio. 
				|Fusce posuere nunc iaculis ligula viverra iaculis. Aliquam erat volutpat.
			a(href='#').location__link view details
		.location
			.location__title new york
			.location__address 109 Columbus Circle, New York, NY 10023
			.location__text
				|Nunc non posuere nisl. Etiam finibus vel dui nec lobor&shytis. 
				|Aliquam egestas, sem quis condimentum venena&shytis, erat leo fermentum dolor, non sollicitudin massa mi eu nibh. 
				|Nullam vitae aliquam dui, non sodales nisl.
			a(href='#').location__link view details
		.location
			.location__title paris
			.location__address 2133 Rue Saint-Honoré, 75001 Paris
			.location__text
				|Ut interdum fermentum blandit. Donec nec lacus egetit mi rhoncus eleifend. 
				|Curabitur laoreet nisl eget rutruml auctor. 
				|Vestibulum ante ipsum primis in faucibus orcip luctus et ultrices posuere cubilia curae cras ligula.
			a(href='#').location__link view details
	.details
		.details__map
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.0405029300478!2d-0.14200518407484375!3d51.512472918153144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604d5767c9015%3A0x1cf0ab0381c7fd45!2zMTgwIFJlZ2VudCBTdCwgU29obywgTG9uZG9uIFcxQiA1VEosINCS0LXQu9C40LrQvtCx0YDQuNGC0LDQvdC40Y8!5e0!3m2!1sru!2skz!4v1552660177213" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
		.info
			.info__title london
			.info__address 180-182 Regent Street, London, W1B 5BT
			.info__text 
				|Lorem ipsum dolor sit amet, consectetur adipiscing esi elit. 
				|Vivamus at arcu sem. Vestibulum ornare eleifendit massa, nec tempor odio. 
				|Fusce posuere nunc iaculis ligula viverra iaculis. Aliquam erat volutpat.
			.info__item
				i.fas.fa-map-marker-alt
				|180-182 Regent Street, London, W1B 5BT
			.info__item
				i.fas.fa-phone
				|0123-456-789
			.info__item
				i.fas.fa-link
				a(href='#').info__channel www.yourwebsite.com
			.info__item
				i.far.fa-envelope
				a(href='#').info__mail support@yourwebsite.com
			.info__item
				i.far.fa-clock
				|Monday-Friday: 9am to 6pm  Saturday: 10am to 6pm  Sunday: 10am to 2pm
			.info__links
				a(href='#').info__link
					i.fab.fa-facebook-f
				a(href='#').info__link
					i.fab.fa-twitter
				a(href='#').info__link
					i.fab.fa-instagram
				a(href='#').info__link
					i.fab.fa-pinterest