.view__text {
	text-align: right;
	font-family: 'RobotoRegular';
	font-size: 15px;
	width: 294px;
	line-height: 1.4;
	align-self: flex-end;
	color: #727272;
	margin-top: 10px;
	margin-bottom: 5px;
}
@media only screen and (max-width: 1599px) {
	.view__text {
		font-size: 13px;
	}
}
@media only screen and (max-width: 479px) {
	.view__text {
		margin-top: 100px;
		font-size: 11px;
	}
}