.brand__title {
	font-family: 'MontserratRegular';
	font-size: 18px;
	font-weight: bold;
	color: #575153;
	text-transform: uppercase;
	margin-top: 25px;
}
@media only screen and (max-width: 1023px) {
	.brand__title {
		margin-top: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.brand__title {
		font-size: 16px;
	}
}