.lookbook
	.lblist
		a(href='#').lblist__link latest
		a(href='#').lblist__link most liked
		a(href='#').lblist__link best sellers
		a(href='#').lblist__link price low to high
		a(href='#').lblist__link price high to low
	.gallery
		div(style='background-image: url("%=static=%img/assets/lookbook/photo1.png")').item
			.item__text 
				sup
					small
						small ref
				|M1
			a(href='#').item__info
				i.fas.fa-info
			a(href='#').item__copy
				i.fas.fa-heart
		div(style='background-image: url("%=static=%img/assets/lookbook/photo2.png")').item
			.item__text 
				sup
					small
						small ref
				|W1
			a(href='#').item__info
				i.fas.fa-info
			a(href='#').item__copy
				i.fas.fa-heart
		.div(style='background-image: url("%=static=%img/assets/lookbook/replace1.png")').somelookbook
			.somelookbook__title 
				span Jane’s 
				|lookbook
			.somelookbook__price get the look for under £200!
			.somelookbook__text
				span We invited actress Jane Marshall to join us for the day and choose her perfect outfit from our vast range of womens fashion.
				br
				br
				|This is of course not true as this is just a design for a website and this is simply filler text.
			a(href='#').somelookbook__link view now
		div(style='background-image: url("%=static=%img/assets/lookbook/photo4.png")').item
			.item__text 
				sup
					small
						small ref
				|MJ1
			a(href='#').item__info
				i.fas.fa-info
			a(href='#').item__copy
				i.fas.fa-heart
		div(style='background-image: url("%=static=%img/assets/lookbook/photo5.png")').item
			.item__text 
				sup
					small
						small ref
				|M2
			a(href='#').item__info
				i.fas.fa-info
			a(href='#').item__copy
				i.fas.fa-heart
		div(style='background-image: url("%=static=%img/assets/lookbook/photo6.png")').item
			.item__text 
				sup
					small
						small ref
				|W2
			a(href='#').item__info
				i.fas.fa-info
			a(href='#').item__copy
				i.fas.fa-heart
		div(style='background-image: url("%=static=%img/assets/lookbook/photo7.png")').item
			.item__text 
				sup
					small
						small ref
				|W3
			a(href='#').item__info
				i.fas.fa-info
			a(href='#').item__copy
				i.fas.fa-heart
		.div(style='background-image: url("%=static=%img/assets/lookbook/replace2.png")').somelookbook.somelookbook--width
			.somelookbook__title 
				span win
				|a new look!
			.somelookbook__price add looks or items to your lookbook for a chance of winning
			.somelookbook__text.somelookbook__text--width
				|See an item or a complete look you like, click the 
				i.far.fa-heart
				|&nbsp;button to add it to your lookbook and you’ll be automatically entered to our monthly draw where one winner gets a 
				span £300
				|&nbsp;gift voucher to spend on our website!  
				br
				br
				|Terms: No purchase necessary. Vouchers are non-transferable and no cash alternative is ofered. Competition is for members only.
			a(href='#').somelookbook__link shop now
			.somelookbook__win
				span win
				br
				|a new look
		div(style='background-image: url("%=static=%img/assets/lookbook/photo9.png")').item
			.item__text
				sup
					small
						small ref
				|W4
			a(href='#').item__info
				i.fas.fa-info
			a(href='#').item__copy
				i.fas.fa-heart
.view
	div(style='background-image: url("%=static=%img/assets/lookbook/view1.png")').view__item
		.view__title
			span men’s
			br
			|lookbook
		.view__text 
			|Lorem ipsum dolor sit amet eras facilisis consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.
			br
			|Elementum metus facilisis ut phasellu.
		a(href='#').view__link view now
	div(style='background-image: url("%=static=%img/assets/lookbook/view2.png")').view__item
		.view__title
			span women's
			br
			|lookbook
		.view__text 
			|Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
			br
			|Pellentesque laoreet quis enim et mattis. Quisque interdum felis tellus.
		a(href='#').view__link view now
	div(style='background-image: url("%=static=%img/assets/lookbook/view3.png")').view__item
		.view__title
			span men’s
			br
			|lookbook
		.view__text 
			|See an item you like and click the 
			i.far.fa-heart
			|&nbsp;button to add it to your lookbook where you can create your own perfect look.
			br
			|It’s like your own boutique!
		a(href='#').view__link view now