.hgalleryitem__back {
	opacity: 0;
	position: absolute;
	top: 132px;
	right: 16px;
	width: 80px;
	height: 100px;
	background-size: 80px;
	border: 1px solid transparent;
	transition: all 0.3s;
	&:hover {
		border: 1px solid #727272;
	}
}