.product__top {
	display: flex;
	justify-content: space-between;
	font-family: 'MontserratRegular';
	font-size: 14px;
	font-weight: bold;
	align-items: center;
	color: #989898;
	margin-top: 25px;
	margin-bottom: 25px;
}