.topbar__register {
	display: inline-block;
	height: 45px;
	line-height: 45px;
	text-decoration: none;
	color: #777777;
	padding: 0px 20px;
	transition: all 0.3s;
	&:hover {
		color: #fff;
		background-color: #00c8c8;
	}
}
@media only screen and (max-width: 599px) {
	.topbar__register {
		padding: 0 5px;
		line-height: 30px;
		height: 30px;
	}
}