.view__title {
	text-transform: uppercase;
	text-align: right;
	font-family: 'MontserratLight';
	font-weight: bold;
	font-size: 48px;
	margin-top: 100px;
	color: #575153;
	span {
		font-family: 'MontserratBold';
	}
}