.checkbox__text {
	font-family: 'RobotoRegular';
	font-size: 15px;
	color: #8e8c8c;
	margin-left: 43px;
}
@media only screen and (max-width: 479px) {
	.checkbox__text {
		font-size: 13px;
		margin-left: 25px;
	}
}