header.header
	.topbar
		.topbar__content
			a(href='#').topbar__currency
				|Currency : 
				span GBP
				| 
				i.fas.fa-angle-down
			.topbar__rslink
				a(href='#').topbar__register Register
				a(href='#').topbar__signin Sign In
			a(href='#').topbar__cart
				i.fas.fa-shopping-cart
				| empty
				i.fas.fa-angle-down
	div(style='background-image: url("%=static=%img/assets/header/bg.png")').header__bg.header__bg--img1
		div(style='background-color: #fff;').header__content
			a(href='#').header__logo
				span avenue 
				|fashion
			.header__nav
				div
					a(href='#').header__link.menslink mens
						i.fas.fa-angle-down
						.mensmenu
							.hmenu__menu
								.hmenu__column
									.mensmenu__title Casuals
									a(href='#').hmenu__link Jackets
									a(href='#').hmenu__link Hoodies & Sweatshirts
									a(href='#').hmenu__link Polo Shirts
									a(href='#').hmenu__link Sportswear
									a(href='#').hmenu__link Trousers & Chinos
									a(href='#').hmenu__link T-Shirts
								.hmenu__column
									.hmenu__title format
									a(href='#').hmenu__link Jackets
									a(href='#').hmenu__link Shirts
									a(href='#').hmenu__link Suits
									a(href='#').hmenu__link Trousers
							.hmenu__banner
								div autumn sale!
								div to 50% off
				div
					a(href='#').header__link womens
						i.fas.fa-angle-down
				div
					a(href='#').header__link the brand
				div
					a(href='#').header__link local stores
				div
					a(href='#').header__link.booklink look book
						i.fas.fa-angle-down
						.bookmenu
							.hmenu__menu
								.hmenu__column
									.hmenu__title our lookbooks
									a(href='#').hmenu__link Latest Prost(mixed)
									a(href='#').hmenu__link Men's Lookbook
									a(href='#').hmenu__link Women's Lookbook
								.hmenu__column
									.hmenu__title your lookbook
									a(href='#').hmenu__link View and Edit
									a(href='#').hmenu__link Share
									a(href='#').hmenu__link Delete
							.hmenu__banner
								div autumn sale!
								div to 50% off
			.search
				input(type='text' name='search' placeholder='Search..').search__place
				a(href='#').search__icon
					i.fas.fa-search
			a(href='#').btn
				span
		.intro
			.intro__title 
				span the 
				|brand
			.intro__text company slogan goes here
			//.intro__name 
			//	span a
			//	span v
			//	span e
			//.intro__button shop men’s collection
