.column__link {
	align-self: flex-start;
	text-decoration: none;
	font-family: 'MontserratLight';
	color: #727272;
	height: 30px;
	line-height: 30px;
	transition: color 0.2s;
	&:hover {
		color: #00c8c8;
	}
}
@media only screen and (max-width: 767px) {
	.column__link {
		align-self: center;
	}
}