.somelookbook__title {
	font-family: 'MontserratLight';
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	color: #575153;
	margin-top: 50px;
	span {
		font-family: 'MontserratBold';
	}
}
@media only screen and (max-width: 1799px) {
	.somelookbook__title {
		margin-top: 10px;
		font-size: 40px;
	}
}
@media only screen and (max-width: 1439px) {
	.somelookbook__title {
		margin-top: 10px;
		font-size: 24px;
	}
}