.brand
	.brand__columns
		.brand__column
			div(style='background-image: url("%=static=%img/assets/brand/img1.png")').brand__img.brand__img--margin
			div(style='background-image: url("%=static=%img/assets/brand/img2.png")').brand__img
			.brand__description
				.brand__title our values, vision and strategy
				.brand__des The above image would be a great place for an advertising video
				.brand__text
					|Cras maximus venenatis malesuada. Nulla sagittis elit felis, ac facilisis quam ornare aliquam. 
					|Etiam cursus odio vitae dui dignissim, sed tempus lacus tincidunt et donec sapien velit, rhoncus eu nulla a, molestie tempus mi maecenas sagittis ornare. 
					|Pellentesque sapien mi, 
					span tincidunt nec magna vitae
					|, volutpat elementum odioni lorem Aliquam tempor massa vitae augue mattis tempor id in ante ut augue erat, luctus eil.
		.brand__column
			.brand__description.brand__description--margin
				.brand__title hand designed clothing
				.brand__des established in 2013, avenue fashion Sed dictum elit vel sapien luctus eras
				.brand__text
					|Praesent feugiat malesuada tristique maecenas rhoncus diam eget quam vestibulim consectetur, id condimentum leo porttitor. 
					|Cum sociis natoque penatibus eta magnis disut parturient montes, nascetur ridiculus mus. 
					|Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh suspendisse congue metus nunc, id viverra elit loreti rhoncus quis consecteur es. 
					|Donec pulvinar tempor lorem a pretium justo interdum.
			div(style='background-image: url("%=static=%img/assets/brand/img3.png")').brand__img
			.brand__description
				.brand__title Ethical trading
				.brand__des we oversee the working conditions of the people in the supply chain
				.brand__text
					|Nullam dapibus consectetur neque, faucibus porttitor purus iaculis sed. 
					|Aenean eras dapibus augue, eget dignissim dui maecenas et rhoncus mim, vel semper arcu lorem Pellentesque congue justo esteir pellentesque aliquet massa eget posuere tincidunt. 
					|Cras viverra ullamcorper nunc accumsan hendrerit. 
					a(href='#').brand__link
						|A link 
						i.fas.fa-long-arrow-alt-right
			.brand__icons
				img(src='%=static=%img/assets/brand/icon1.png').brand__icon
				img(src='%=static=%img/assets/brand/icon2.png').brand__icon
				img(src='%=static=%img/assets/brand/icon3.png').brand__icon
