.hmenu__banner {
	margin-top: auto;
	width: 100%;
	height: 200px;
	color: #fff;
	background-color: #333333;
	font-size: 36px;
	font-family: 'MontserratRegular';
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	div:first-child {
		font-family: 'MontserratBold';
	}
}
@media only screen and (max-width: 1023px) {
	.hmenu__banner {
		margin-top: 10px;
	}
}
@media only screen and (max-width: 599px) {
	.hmenu__banner {
		font-size: 24px;
	}
}