.somelookbook__text {
	font-family: 'RobotoRegular';
	font-size: 15px;
	color: #8e8c8c;
	width: 335px;
	line-height: 1.4;
	margin-top: 10px;
	&--width {
		width: 505px;
	}
}
@media only screen and (max-width: 1799px) {
	.somelookbook__text {
		width: 270px;
		br:first-of-type {
			display: none;
		}
		&--width {
			width: 445px;
		}
	}
}
@media only screen and (max-width: 1599px) {
	.somelookbook__text {
		&--width {
			width: 405px;
		}
	}
}
@media only screen and (max-width: 1599px) {
	.somelookbook__text {
		font-size: 13px;
		&--width {
			width: 405px;
		}
	}
}
@media only screen and (max-width: 479px) {
	.somelookbook__text {
		width: 100%;
		font-size: 13px;
		&--width {
			width: 100%;
		}
	}
}