.award {
	width: 570px;
	height: 200px;
	background-color: #333333;
	font-size: 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-transform: uppercase;
}