.product
	.product__content
		.product__slider
			img(src='%=static=%img/assets/product/img.png' alt='default size').product__slide.product__slide--curry
			img(src='%=static=%img/assets/product/zoomimg.png' alt='zoom').product__slide
			.product__controls
				a(href='#').product__prev
					i.fas.fa-angle-left
				a(href='#').product__next
					i.fas.fa-angle-right
		.product__column
			.product__name Ave classic sweatshirt
			.product__top
				.product__stars
					i.fas.fa-star.product__star
					i.fas.fa-star.product__star
					i.fas.fa-star.product__star
					i.fas.fa-star.product__star
					i.fas.fa-star.product__star
				.product__review 3 Review(s)
				.vl |
				a(href='#').product__addreview Add a Review
				.vl |
				.br
				.product__share Share:
				a(href='#').product__link
					i.fab.fa-facebook-f
				a(href='#').product__link
					i.fab.fa-twitter
				a(href='#').product__link
					i.fab.fa-google-plus-g
				a(href='#').product__link
					i.fab.fa-pinterest-p
				a(href='#').product__link
					i.fab.fa-instagram
				a(href='#').product__link
					i.far.fa-envelope
			.product__price
				sup 
					small £
				del 107
				|&nbsp;&nbsp;
				sup
					small £
				|89.99
			.product__availability
				|AVAILABILITY: 
				span In stock
			.product__code
				|PRODUCT CODE: 
				span #499577
			.product__tags
				|TAGS: 
				span Classic, Casual, V-neck, Loose
			.product__text
				|Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh suspendisse est congue metus nunc, id viverra elit loreti rhoncus quis consecteur es. 
				|Donec pulvinar tempor lorem a pretium justo interdum.
			ul.product__ul
				li.product__li Elasticated cuffs
				li.product__li Casual fit
				li.product__li 100% Cotton
				li.product__li Free shipping 4 days delivery
			.selects
				.select
					.select__title color
					.selectinner
						select(name='color').select__color
							option(value='') Select Color
							option(value='') Blue
							option(value='') Gray
							option(value='') Yellow
							option(value='') Pink
						i.fas.fa-angle-down
				.select
					.select__title size
					.selectinner
						select(name='size').select__size
							option(value='') Select Size
							option(value='') 10
							option(value='') 20
							option(value='') 30
							option(value='') 40
						i.fas.fa-angle-down
				.select
					.select__title qty
					.selectinner
						input(type='number' name='qty' value='1' min='1' max='10').select__qty
						i.fas.fa-angle-up.i-up
						i.fas.fa-angle-down.i-down
			.product__buttons
				a(href='#').product__cart
					i.fas.fa-shopping-cart
					|&nbsp;
					|add to cart
				a(href='#').product__lookbook 
					i.far.fa-heart
					|&nbsp;
					|add to lookbook
			a(href='#').product__compare
				i.fas.fa-exchange-alt
				|add to compare
	.data
		.data__links
			a(href='#').data__link Description
			a(href='#').data__link Video
			a(href='#').data__link Size & Specs
			a(href='#').data__link Delivery & Returns
			a(href='#').data__link Reviews
		.description
			.description__title Nunc egestas posuere enim, eu maximus erat posuere eget
			.description__text
				|Sed ut mi mollis, consequat nulla lacinia, hendrerit turpis. 
				|Nulla sapien magna, interdum quis pretium nec, pharetra at felis. 
				|Curabitur dictum sapien est, eget ultricies turpis porta vel. 
				|Nam suscipit nec lacus sed imperdiet. Vestibulum a purus risus. 
				|Nulla et dictum augue, nec efficitur mi. Nam sit amet pretium elit. 
				|Aliquam congue, ligula id vehicula vestibulum, orci ex vulputate lacus, ac malesuada elit dolor eget ex. Sed quis aliquet risus, ut cursus lectus. 
				|In eget lorem tellus.
				br
				br
				|Quisque eleifend varius nisi nec sagittis. Nulla ullamcorper imperdiet justo, ut venenatis purus lobortis ut. Nunc sagittis urna et hendrerit sodales. 
				|Nunc molestie risus nec fringilla lacinia. Nulla facilisi. Etiam neque velit, tristique eget sollicitudin eget, placerat at metus. 
				|Proin dictum lobortis velit, id suscipit orci faucibus ut. Aliquam erat volutpat. Vivamus feugiat justo in diam placerat, id dignissim elit auctor. 
				|Vestibulum scelerisque sem et lobortis ultricies. Morbi suscipit nulla urna. Suspendisse potenti. 
				|Nullam varius quam sed nisl dignissim, vel faucibus ipsum blandit. Vivamus at suscipit augue. Nam finibus gravida lorem eu viverra. 
				|Praesent rhoncus imperdiet ultric&shy; ies. Nullam pretium cursus augue auctor vulputate. 
				|Quisque a convallis diam commodo eget diam id, eleifend dictum libero. 
				|Etiam varius, nisi vel dignissim sodales, enim dui posuere mauris, in aliquet lorem eros eget neque.