.checkbox {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 30px;
	input[type="checkbox"] {
		z-index: 10;
		position: absolute;
		opacity: 0;
		height: 28px;
		width: 28px;
		&:checked {
			&~.checkbox__btn {
				&:before {
					transform: scale(1);
				}
			}
		}
	}
}
@media only screen and (max-width: 1023px) {
	.checkbox {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 599px) {
	.checkbox {
		margin-top: 10px;
	}
}
@media only screen and (max-width: 479px) {
	.checkbox {
		input[type="checkbox"] {
			width: 20px;
			height: 20px;
		}
	}
}
