.brand__columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 60px 0px 125px;
}
@media only screen and (max-width: 1023px) {
	.brand__columns {
		flex-direction: column;
		padding: 30px 0px;
	}
}