.lblist__link {
	text-decoration: none;
	color: #727272;
	font-family: 'MontserratRegular';
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	margin-right: 40px;
	transition: color 0.3s;
	&:hover {
		color: #00c8c8;
	}
}
@media only screen and (max-width: 767px) {
	.lblist__link {
		margin-right: 0;
	}
}
@media only screen and (max-width: 599px) {
	.lblist__link {
		font-size: 11px;
	}
}