.view__item {
	width: 663px;
	height: 530px;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	padding-right: 57px;
}
@media only screen and (max-width: 2049px) {
	.view__item {
		width: 630px;
		padding-right: 30px;
	}
}
@media only screen and (max-width: 1919px) {
	.view__item {
		width: 520px;
		height: 415px;
		background-size: 520px;
		background-repeat: no-repeat;
	}
}
 @media only screen and (max-width: 1599px) {
 	.view__item {
 		width: 470px;
 		height: 375px;
 		background-size: 470px;
 	}
 }
@media only screen and (max-width: 1599px) {
	.view__item {
		width: 440px;
		height: 350px;
		background-size: 440px;
	}
}
@media only screen and (max-width: 1359px) {
	.view__item {
		width: 400px;
		height: 318px;
		background-size: 400px;
	}
}
@media only screen and (max-width: 1279px) {
	.view__item {
		width: 600px;
		background-size: 600px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 599px) {
	.view__item {
		background-position: -30px -30px;
	}
}
@media only screen and (max-width: 479px) {
	.view__item {
		width: 470px;
		background-size: 470px;
	}
}
// 	.view__item {
// 		width: 100%;
// 	}
// }