.brand__text {
	font-family: 'RobotoRegular';
	font-size: 15px;
	color: #8e8c8c;
	line-height: 1.4;
	margin-top: 15px;
	span {
		color: #00c8c8;
	}
}
@media only screen and (max-width: 1023px) {
	.brand__text {
		margin-top: 5px;
	}
}
@media only screen and (max-width: 767px) {
	.brand__text {
		font-size: 13px;
	}
}